/*
Theme Name: sd62_23032014_3
Theme URI: 
Description: 
Version: 
Author: 
Author URI: 
Tags: , fixed width, three columns, valid XHTML, widgets
*/

/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#main, table
{
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.postcontent,
.postcontent li,
.postcontent table,
.postcontent a,
.postcontent a:link,
.postcontent a:visited,
.postcontent a.visited,
.postcontent a:hover,
.postcontent a.hovered
{
   font-family: Georgia, "Times New Roman", Times, Serif;
}

.postcontent p
{
   margin: 12px 0;
}

.postcontent h1, .postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:visited, .postcontent h1 a:hover,
.postcontent h2, .postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:visited, .postcontent h2 a:hover,
.postcontent h3, .postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:visited, .postcontent h3 a:hover,
.postcontent h4, .postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:visited, .postcontent h4 a:hover,
.postcontent h5, .postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:visited, .postcontent h5 a:hover,
.postcontent h6, .postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:visited, .postcontent h6 a:hover,
.blockheader .t, .blockheader .t a, .blockheader .t a:link, .blockheader .t a:visited, .blockheader .t a:hover,
.vmenublockheader .t, .vmenublockheader .t a, .vmenublockheader .t a:link, .vmenublockheader .t a:visited, .vmenublockheader .t a:hover,
.logo-name, .logo-name a, .logo-name a:link, .logo-name a:visited, .logo-name a:hover,
.logo-text, .logo-text a, .logo-text a:link, .logo-text a:visited, .logo-text a:hover,
.postheader, .postheader a, .postheader a:link, .postheader a:visited, .postheader a:hover
{
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 31px;
   text-decoration: none;
   text-transform: uppercase;
}

.postcontent a
{
   text-decoration: none;
   color: #FFB200;
}

.postcontent a:link
{
   text-decoration: none;
   color: #FFB200;
}

.postcontent a:visited, .postcontent a.visited
{
   color: #AD7900;
}

.postcontent  a:hover, .postcontent a.hover
{
   text-decoration: underline;
   color: #4298FA;
}

.postcontent h1
{
   color: #AD7900;
   margin: 10px 0 0;
   font-size: 29px;
}

.blockcontent h1
{
   margin: 10px 0 0;
   font-size: 29px;
}

.postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:hover, .postcontent h1 a:visited, .blockcontent h1 a, .blockcontent h1 a:link, .blockcontent h1 a:hover, .blockcontent h1 a:visited 
{
   font-size: 29px;
}

.postcontent h2
{
   color: #AD7900;
   margin: 10px 0 0;
   font-size: 24px;
}

.blockcontent h2
{
   margin: 10px 0 0;
   font-size: 24px;
}

.postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:hover, .postcontent h2 a:visited, .blockcontent h2 a, .blockcontent h2 a:link, .blockcontent h2 a:hover, .blockcontent h2 a:visited 
{
   font-size: 24px;
}

.postcontent h3
{
   color: #6C7F78;
   margin: 10px 0 0;
   font-size: 20px;
}

.blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
}

.postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:hover, .postcontent h3 a:visited, .blockcontent h3 a, .blockcontent h3 a:link, .blockcontent h3 a:hover, .blockcontent h3 a:visited 
{
   font-size: 20px;
}

.postcontent h4
{
   color: #60716B;
   margin: 10px 0 0;
   font-size: 18px;
}

.blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
}

.postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:hover, .postcontent h4 a:visited, .blockcontent h4 a, .blockcontent h4 a:link, .blockcontent h4 a:hover, .blockcontent h4 a:visited 
{
   font-size: 18px;
}

.postcontent h5
{
   color: #60716B;
   margin: 10px 0 0;
   font-size: 15px;
}

.blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
}

.postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:hover, .postcontent h5 a:visited, .blockcontent h5 a, .blockcontent h5 a:link, .blockcontent h5 a:hover, .blockcontent h5 a:visited 
{
   font-size: 15px;
}

.postcontent h6
{
   color: #899A94;
   margin: 10px 0 0;
   font-size: 14px;
}

.blockcontent h6
{
   margin: 10px 0 0;
   font-size: 14px;
}

.postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:hover, .postcontent h6 a:visited, .blockcontent h6 a, .blockcontent h6 a:link, .blockcontent h6 a:hover, .blockcontent h6 a:visited 
{
   font-size: 14px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

#page-background-glare-wrapper {
   position: fixed;
   width:100%;
}

#page-background-glare
{
   position: relative;
   top: 0;
   max-width:362px;
   min-width: 1006px;
   height:441px;
   left: 0;
   margin-right: auto;
   background-image: url("page_gl.png");
   background-repeat: no-repeat;
   background-position: left top;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1006px;
   color: #000000;
   background-color: #FFDD8F;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.box, .box-body {
   margin:0 auto;
   position:relative;
}
.box:before, .box:after, .box-body:before, .box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.box:before,.box-body:before{
   left:0;
}
.box:after,.box-body:after{
   right:0;
}
.box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.box:after {
   background-position: bottom right;
   z-index:-3;
}
.box-body:before, .box-body:after {
   background-repeat:repeat-y;
}
.box-body:before {
   background-position: top left;
   z-index:-3;
}
.box-body:after {
   background-position: top right;
   z-index:-3;
}

.box .box:before, .box .box:after, .box-body .box-body:before, .box-body .box-body:after {
   z-index:-2;
}
.box .box .box:before, .box .box .box:after, .box-body .box-body .box-body:before, .box-body .box-body .box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.bar {
   position:relative;
}
.bar:before, .bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.bar:before {
   left:0;
   background-position: top left;
}
.bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .postcontent li h1, .blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .postcontent li h2, .blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .postcontent li h3, .blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .postcontent li h4, .blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .postcontent li h5, .blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .postcontent li h6, .blockcontent-body li h6 
{
   margin:1px;
} 
li p, .postcontent li p, .blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Box, Sheet */
.sheet
{
   max-width:1006px;
   margin-top: 12px;
   margin-bottom: -3px;
   cursor:auto;
   width: 1006px;
}
.sheet-body 
{
   padding:3px;
   min-width:20px;
   min-height:20px;
   padding-top:3px;
   padding-bottom:3px;
}
.sheet:before, .sheet:after 
{
   content: url("sheet_t.png");
   font-size: 0;
   background-image: url("sheet_b.png");
}
.sheet:after{
   clip:rect(auto, auto, auto, 993px);
}
.sheet:before,.sheet-body:before{
   right:13px;
}
.sheet-body:after{
   width: 13px;
   top:13px;
   bottom:13px;
   background-image:url("sheet.png");
}
.sheet-body:before{
   top:13px;
   bottom:13px;
   background-image:url("sheet.png");
}

/* end Box, Sheet */

/* begin Header */
div.header
{
   margin: 0 auto;
   position: relative;
   width:100%;
   height: 400px;
   margin-top: 0;
   margin-bottom: 0;
}

.header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   width:100%;
   height: 400px;
   background-image: url("header.jpg");
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Logo */
div.logo
{
   display: block;
   position: absolute;
   top: 68px;
   left: 5%;
   margin-left: -48px;
   width: 329px;
}

.logo-name
{
   display: block;
   text-align: center;
   font-family: "Courier New", Courier, Monospace;
   font-size: 23px;
   padding: 0;
   margin: 0;
   color: #000000 !important;
}
.logo-name a, 
.logo-name a:link, 
.logo-name a:visited, 
.logo-name a:hover
{
   font-family: "Courier New", Courier, Monospace;
   font-size: 23px;
   padding: 0;
   margin: 0;
   color: #000000 !important;
}

.logo-text
{
   display: block;
   text-align: center;
   font-size: 11px;
   padding: 0;
   margin: 0;
   color: #1A1E1D !important;
}
.logo-text a,
.logo-text a:link,
.logo-text a:visited,
.logo-text a:hover
{
   font-size: 11px;
   padding: 0;
   margin: 0;
   color: #1A1E1D !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.hmenu a, ul.hmenu a:link, ul.hmenu a:visited, ul.hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.hmenu, ul.hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.hmenu li li{
   float: none;
   width: auto;
}
ul.hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.hmenu:after, ul.hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.hmenu, ul.hmenu ul {
   min-height: 0;
}

ul.hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url("");
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.hmenu ul.hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.hmenu ul.hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.hmenu ul ul.hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.hmenu ul ul.hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.hmenu li li:hover>ul.hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.hmenu li li:hover>ul.hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.hmenu{
   position:relative;
   padding: 4px 4px 4px 4px;
   float: left;
   left: 50%;
}
div.nav-center{
   position: relative;
   float: right;
   right: 50%;
}

.firefox2 ul ul.hmenu{
   float: none;
}
/* end menu structure */

/* menu bar */

.nav
{
   margin:0 auto;
   min-height: 46px;
   z-index: 100;
   margin: 0 0 -46px;
   width:auto;
   top: 354px;
}

.nav:before, .nav:after{
   background-image: url("nav.png");
}
.nav:before{
   right: 0;
}
.nav:after{
   width: 0;
}
/* end menu bar */
.nav-outer{
   position:absolute;
   width:100%;
}
.nav-wrapper 
{
   position: relative;
   margin:0 auto;
   width:auto;
}

.nav-inner{
   margin: 0 3px;
}

/* end Menu */

/* begin MenuItem */
ul.hmenu>li>a
{
   position: relative;
   display: block;
   height: 38px;
   cursor: pointer;
   text-decoration: none;
   color: #805900;
   padding: 0 40px;
   line-height: 38px;
   text-align: center;
}

ul.hmenu>li>a:before, ul.hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url("menuitem.png");
}

ul.hmenu>li>a:before
{
   left: 0;
   right: 12px;
   background-position: top left;
}

ul.hmenu>li>a:after
{
   width: 12px;
   right: 0;
   background-position: top right;
}

.hmenu a, .hmenu a:link, .hmenu a:visited, .hmenu a:hover
{
   font-size: 13px;
   text-align: left;
   text-decoration: none;
   text-transform: uppercase;
}

ul.hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.hmenu>li>a.active {
   color: #000000;
}

ul.hmenu>li>a:hover:before, ul.hmenu>li:hover>a:before {
   background-position: center left;
}
ul.hmenu>li>a:hover:after, ul.hmenu>li:hover>a:after {
   background-position: center right;
}
ul.hmenu>li>a:hover, ul.hmenu>li:hover>a{
   color: #000000;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -11px;
   width:11px;
   height: 38px;
   background: url("menuseparator.png") center center no-repeat;
}

ul.hmenu>li {
   margin-left:11px;
}
ul.hmenu>li:first-child {
   margin-left:0;
}

ul.hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   background-image: url("");
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #B5C0BC;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 23px;
   color: #000000;
   font-size: 12px;
   margin:0;
   padding: 0 8px;
}

.hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a:hover, .hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 23px;
   color: #000000;
   font-size: 12px;
   margin:0;
   padding: 0 8px;
}

.hmenu ul li a:hover
{
   color: #000000;
   background-position: left bottom;
   border-color: #B5C0BC;
   border-top-width: 1px !important;
}

.hmenu ul li a.hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.hmenu ul li:hover>a
{
   color: #000000;
   background-position: left bottom;
   border-color: #B5C0BC;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Layout */
.layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.content-layout-row {
   display: table-row;
}

.layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.vmenublock
{
   max-width:1000px;
   margin: 0;
}
.vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   margin-bottom: 0;
   min-height: 39px;
   line-height:39px;
}

.vmenublockheader .t
{
   min-height: 39px;
   line-height:39px;
   color: #000000;
   font-size: 15px;
   margin:0;
   padding: 0 10px 0 10px;
   white-space: nowrap;
}

.vmenublockheader .t a,
.vmenublockheader .t a:link,
.vmenublockheader .t a:visited, 
.vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 15px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent
{
   max-width:1000px;
}
.vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.vmenu, ul.vmenu ul
{
   list-style: none;
   display: block;
}

ul.vmenu, ul.vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu ul.active
{
   display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   text-transform: uppercase;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.vmenu li{
   position:relative;
}

ul.vmenu>li>a 
{
   color: #505E59;
   padding: 0 10px 0 10px;
   height: 36px;
   line-height: 36px;
   white-space: nowrap;
}

ul.vmenu>li>a.active {
   color: #AD7900;
}
ul.vmenu a:hover, ul.vmenu a.active:hover {
   color: #262C2A;
}

ul.vmenu>li>a:before, ul.vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url("");
   top:0;
   height:36px;
}

ul.vmenu>li>a:before{
   left: 0;
   right: 0;
   background-position: top left;
}
ul.vmenu>li>a:after{
   width: 0;
   right: 0;
   background-position: top right;
}
ul.vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.vmenu>li>a:hover {
   background-color: transparent;
}
ul.vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.vmenu>li>a:hover:after {
   background-position: center right;
}

ul.vmenu>li{
   margin-top:0;
}
ul.vmenu>li>ul{
   margin-top:0;
   padding-bottom: 10px;
}
ul.vmenu>li:first-child{
   margin-top:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.vmenu li li, ul.vmenu li li a {
   position:relative;
}

ul.vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 24px;
   overflow: visible;
   background-image: url("");
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:33px;
   padding-right:15px;
   line-height: 24px;
   color: #505E59;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu ul a.active{
   background-position: bottom left;
}
ul.vmenu ul a:hover{
   background-position: center left;
   line-height: 24px;
   color: #505E59;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}
ul.vmenu ul li li a:hover, ul.vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.vmenu ul a:after
{
   display: block;
   position:absolute;
   top:6px;
   content:' ';
   width: 8px;
   height: 12px;
   overflow: visible;
   background-image: url("");
   background-position: top left;
   background-repeat: no-repeat;
   left:  15px;
}
ul.vmenu ul a:hover:after{
   background-position: center left;
}
ul.vmenu ul a.active:hover:after{
   background-position: center left;
}
ul.vmenu ul a.active:after{
   background-position: bottom left;
}

ul.vmenu ul a:link, ul.vmenu ul a:visited, ul.vmenu ul a:active
{
   line-height: 24px;
   color: #505E59;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu>li>ul>li:first-child{
   padding-top: 10px;
   margin-top:0;
}
 
ul.vmenu li li{
   position:relative;
   margin-top:4px;
}

ul.vmenu ul ul a:after{
   left:30px;
}
ul.vmenu ul ul ul a:after{
   left:45px;
}
ul.vmenu ul ul ul ul a:after{
   left:60px;
}
ul.vmenu ul ul ul ul ul a:after{
   left:75px;
}
ul.vmenu ul ul a{
   padding-left:48px;
}
ul.vmenu ul ul ul a{
   padding-left:63px;
}
ul.vmenu ul ul ul ul a{
   padding-left:78px;
}
ul.vmenu ul ul ul ul ul a{
   padding-left:93px;
}

ul.vmenu ul li a.active {
   color: #AD7900;
}
ul.vmenu ul li a:hover, ul.vmenu ul li a:hover.active {
   color: #101312;
}

/* end VMenuSubItem */

/* begin Box, Block */
.block
{
   max-width:1000px;
   margin: 5px;
}
.block-body 
{
   padding:3px;
}

div.block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #D8DEDC;
   border-style: solid;
   margin: 10px;
}

/* end Box, Block */

/* begin Box, BlockContent */
.blockcontent
{
   max-width:1000px;
}
.blockcontent-body 
{
   padding:0;
   color: #38423F;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-size: 15px;
}
.blockcontent-body table,
.blockcontent-body li, 
.blockcontent-body a,
.blockcontent-body a:link,
.blockcontent-body a:visited,
.blockcontent-body a:hover
{
   color: #38423F;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-size: 15px;
}

.blockcontent-body p
{
   margin: 0 5px;
}

.blockcontent-body a, .blockcontent-body a:link
{
   color: #AD7900;
   text-decoration: underline;
}

.blockcontent-body a:visited, .blockcontent-body a.visited
{
   color: #899A94;
   text-decoration: none;
}

.blockcontent-body a:hover, .blockcontent-body a.hover
{
   color: #9C8C11;
   text-decoration: underline;
}

.blockcontent-body ul li
{
   font-size: 14px;
   line-height: 125%;
   color: #4B5854;
   margin: 5px 0 0 10px;
   padding: 0 0 0 10px;
   background-image: url("blockcontentbullets.png");
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.button-wrapper>a.button,
span.button-wrapper>a.button:link,
span.button-wrapper>input.button,
span.button-wrapper>button.button
{
   text-decoration: none;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   text-transform: uppercase;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #212725 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 26px;
   height: 26px;
   margin: 0 !important;
   padding: 0 9px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.button img, span.button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 26px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:1000px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Georgia, "Times New Roman", Times, Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   text-transform: uppercase;
}

div.block select 
{
   width:96%;
}

span.button-wrapper.hover>.button, span.button-wrapper.hover>a.button:link
{
   color: #1A1E1D !important;
   text-decoration: none !important;
}

span.button-wrapper.active>.button, span.button-wrapper.active>a.button:link
{
   color: #2E2905 !important;
}

span.button-wrapper>span.button-l, span.button-wrapper>span.button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url("");
   background-repeat: no-repeat;
}

span.button-wrapper>span.button-l
{
   left: 0;
   right: 11px;
   background-position: top left;
}

span.button-wrapper>span.button-r
{
   width: 11px;
   right: 0;
   background-position: top right;
}

span.button-wrapper.hover>span.button-l
{
   background-position: center left;
}

span.button-wrapper.hover>span.button-r
{
   background-position: center right;
}

span.button-wrapper.active>span.button-l
{
   background-position: bottom left;
}

span.button-wrapper.active>span.button-r
{
   background-position: bottom right;
}

span.button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.post
{
   max-width:1000px;
   margin: 5px;
}
.post-body 
{
   padding:0;
}

a img
{
   border: 0;
}

.article img, img.article, .block img, .footer img
{
   border-color: #FFB914;
   border-style: ridge;
   border-width: 2px;
   margin: 5px 5px 5px 5px;
}

.metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.article table, table.article
{
   border-collapse: collapse;
   margin: 1px;
}

.post .content-layout-br
{
   height: 0;
}

.article th, .article td
{
   padding: 2px;
   border: solid 1px #E8D330;
   vertical-align: top;
   text-align: left;
}

.article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.postheader
{
   color: #4298FA;
   margin: 5px 0 0;
   line-height: 1em;
   font-size: 20px;
}

.postheader a, 
.postheader a:link, 
.postheader a:visited,
.postheader a.visited,
.postheader a:hover,
.postheader a.hovered
{
   font-size: 20px;
}

.postheader a, .postheader a:link
{
   text-align: left;
   text-decoration: underline;
   color: #4298FA;
}

.postheader a:visited, .postheader a.visited
{
   text-decoration: none;
   color: #4298FA;
}

.postheader a:hover,  .postheader a.hovered
{
   text-decoration: underline;
   color: #4298FA;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.postcontent ol, .postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.postcontent li
{
   font-size: 14px;
   text-align: justify;
   color: #291D00;
   margin: 5px 0 0 -15px;
   padding: 0 0 0 10px;
}

.postcontent li ol, .post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.postcontent ul>li
{
   background-image: url("");
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 10px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .postcontent blockquote a, .blockcontent blockquote a, .footer blockquote a,
blockquote a:link, .postcontent blockquote a:link, .blockcontent blockquote a:link, .footer blockquote a:link,
blockquote a:visited, .postcontent blockquote a:visited, .blockcontent blockquote a:visited, .footer blockquote a:visited,
blockquote a:hover, .postcontent blockquote a:hover, .blockcontent blockquote a:hover, .footer blockquote a:hover
{
   color: #2D3432;
   font-style: italic;
   font-weight: normal;
   text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.postcontent blockquote p,
.blockcontent blockquote p,
.footer blockquote p
{
   margin: 0;
}

blockquote
{
   border: solid 1px #B5C0BC;
   margin: 10px;
   padding: 4px;
   background-color: #D8DEDC;
   margin-left: 50px;
   padding-left: 27px;
   background-image: url("");
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin Footer */
.footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.footer-body
{
   position:relative;
   padding: 10px;
   color: #1A1E1D;
   font-size: 12px;
}

.footer-body ul li
{
   font-size: 14px;
   line-height: 125%;
   color: #232927;
   margin: 5px 0 0 5px;
   padding: 0 0 0 10px;
   background-image: url("");
   background-repeat: no-repeat;
   background-position: top left;
}

.footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-image: url("footer.png");
   background-position:bottom left;
}

.footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.footer-body a,
.footer-body a:link,
.footer-body a:visited,
.footer-body a:hover,
.footer-body td, 
.footer-body th,
.footer-body caption
{
   color: #1A1E1D;
   font-size: 12px;
}

.footer-text
{
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.footer-body a,
.footer-body a:link
{
   color: #262C2A;
   text-decoration: none;
}

.footer-body a:visited
{
   color: #262C2A;
}

.footer-body a:hover
{
   color: #523900;
   text-decoration: underline;
}

div.footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #D8DEDC;
   border-style: solid;
   margin: 5px;
}/* end Footer */

/* begin PageFooter */
.page-footer, 
.page-footer a,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #6B4B00;
}

.page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #313A37;
}
/* end PageFooter */

/* begin WordPress, Template.WordPress */
form.search {
   display:block;
   position: relative;
   width: 98%;
   padding:0;
   margin:0 auto !important;
   border: none;
}

form.search div {
   margin: 0 18px 0 -2px;
}

input.search-text {
   display: block;
   margin: 0;
   width: 100%;
   padding-right: 16px;
}

input.search-button
{
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   padding: 0;
   margin: 0;
   width: 16px;
   background:url("search.png") center center no-repeat;
   border: none;
}
/* end WordPress, Template.WordPress */

/* begin LayoutCell, sidebar1 */
.content-layout .sidebar1
{
   width: 225px;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */
.content-layout .sidebar2
{
   width: 225px;
}
/* end LayoutCell, sidebar2 */

textarea#comment
{
   width:99%;
}

ul#comments-list div.avatar
{
   float:right;
}

ul#comments-list, ul#comments-list li
{
   background: none;
   padding:0;
}

ul#comments-list li li
{
   margin-left: 20px;
}

div.avatar
{
   position:relative;
   margin: 7px;
   border: 1px solid #aaa;
   padding: 1px;
   background: #fff;
   float:left;
}

div.avatar img, div.avatar img.wp-post-image
{
   margin:0 !important;
   padding:0;
   border:none;
}

span.page-navi-outer, span.page-navi-inner 
{
   position:relative;
   display:block;
   float:left;
   margin:0;
   padding:0;
}

span.page-navi-outer
{
   margin: 1px;
   border: 1px solid #aaa;
}

span.page-navi-inner 
{
   padding: 1px;
   min-width:14px;
   line-height:18px;
   text-align:center;
   border: 2px solid #fff;
   font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
   border-width:1px;
   font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
   margin:2px 1px;
}

ul#comments-list li cite
{
   font-size: 1.2em;
}

#commentform textarea
{
   width: 100%;
}

#commentform
{
   text-align:left;
}

.rtl #commentform
{
   text-align:right;
}

img.wp-smiley
{
   border: none;
   margin: 1px;
   vertical-align:middle;
   padding: 0;
}

.navigation
{
   display: block;
   text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .article .aligncenter img, .aligncenter img.article, .aligncenter img, img.aligncenter
{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center;
}

.alignleft
{
   float: left;
}

.alignright
{
   float: right;
}

.alignright img, img.alignright
{
   margin: 1em;
   margin-right: 0;
}

.alignleft img, img.alignleft
{
   margin: 1em;
   margin-left: 0;
}

.wp-caption
{
   border: 1px solid #ddd;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   text-align: center;
}

.wp-caption img
{
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text
{
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

.wp-caption p
{
   text-align: center;
}

.gallery {
   margin: 0 auto 18px;
   clear:both;
   overflow:hidden;
   letter-spacing: normal;
}

.gallery .gallery-item {
   float: left;
   margin-top: 0;
   text-align: center;
   width: 33%;
}
.gallery img {
   border: 10px solid #f1f1f1;
}

.gallery .gallery-caption {
   color: #888;
   font-size: 12px;
   margin: 0 0 12px;
}

.gallery dl {
   margin: 0;
}

.gallery br+br {
   display: none;
}
/* End */

.hidden
{
   display: none;
}

/* Calendar */
#wp-calendar {
   empty-cells: show;
   margin: 10px auto 0;
   width: 155px;
}

#wp-calendar #next a {
   padding-right: 10px;
   text-align: right;
}

#wp-calendar #prev a {
   padding-left: 10px;
   text-align: left;
}

#wp-calendar a {
   display: block;
}

#wp-calendar caption {
   text-align: center;
   width: 100%;
}

#wp-calendar td {
   padding: 3px 0;
   text-align: center;
}

.content {
   position: relative;
   z-index: 1;
}

#todays-events{
   position: relative;
   z-index: 11;
}

#upcoming-events{
   position: relative;
   z-index: 10;
}

img.wp-post-image 
{
   margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
   list-style-image: none;
   background:none;
   list-style-type:none;
}

div.footer div.content-layout
{
   margin:0 auto;
   width:100%;
}

div.layout-cell-size1 
{
   width:100%;
}

div.layout-cell-size2 
{
   width:50%;
}
div.layout-cell-size3 
{
   width:33%;
}

div.layout-cell-size4
{
   width:25%;
}

.widget-title
{
   padding:0 0 0 24px;
   margin-bottom:0;
}

div.center-wrapper
{
   position: relative;
   float: right;
   right: 50%;
}

div.center-inner
{
   position: relative;
   float: left;
   left: 50%;
}

.firefox2 div.center-inner
{
   float: none;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
   margin:0;
}

#respond .comment-notes {
   margin-bottom: 1em;
}

.form-allowed-tags {
   line-height: 1em;
}

#comments-list #respond {
   margin-left: 25px !important;
}

#cancel-comment-reply-link {
   font-size: 12px;
   font-weight: normal;
   line-height: 18px;
}

#respond .required {
   color: #ff4b33;
   font-weight: bold;
}

#respond label {
   font-size: 12px;
}

#respond input {
   margin: 0 0 9px;
   width: 98%;
}

#respond textarea {
   width: 98%;
}

#respond .form-allowed-tags {
   font-size: 12px;
   line-height: 18px;
}

#respond .form-allowed-tags code {
   font-size: 11px;
}

#respond .form-submit {
   margin: 12px 0;
}

#respond .form-submit input {
   font-size: 14px;
   width: auto;
}

.footer .widget-title 
{
   font-size:1.2em;
   padding: 0;
}

.footer .widget,
.footer .widget a,
.footer .widget a:link,
.footer .widget a:visited,
.footer .widget a:hover
{
   color: #1A1E1D;
   font-size: 12px;
   text-align: left;
}

.footer .widget a,
.footer .widget a:link
{
   color: #262C2A;
   text-decoration: none;
}

.footer .widget a:visited
{
   color: #262C2A;
}

.footer .widget a:hover
{
   color: #523900;
   text-decoration: underline;
}

DIV[id^="GMPmap"] IMG 
{
   margin: 0;
}

